@import "../variaveis";

.indexPage{

  .artigos{

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    position: relative;
    bottom: 150px;
    justify-content: center;


    .noticia{

      width: 100%;
      max-width: 370px;
      display: flex;
      flex-direction: column;
      gap: 0;

      .imagem{

        width: 100%;
        max-width: 370px;
        height: 277px;
        border-radius: 0;

        .category{

          position: relative;
          top: 40px;
          right: 40px;

          .post-categories{

            width: 100%;
            padding: 0;
            display: flex;
            justify-content: flex-end;

            li a{


              font-style: normal;
              font-family: 'Sen', sans-serif;
              font-weight: 400;
              font-size: $fs_12;
              line-height: 16px;
              background-color: $branco;
              color: $cinza;
              text-transform: uppercase;
              padding: 4px 12px;
              border-radius: 10px;

            }
          }

        }

        .imgArtigo{

          width: 100%;
          max-width: 370px;
          height: 277px;
          border-radius: 0;
        }

      }


      .artigoTextos{

        padding: 30px;
        background-color: $branco;
        display: flex;
        flex-direction: column;
        gap: 8px;


        .title3{

          font-family: 'Sen', sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: $fs_24;
          color: $azul-escuro;
          line-height: 130%;
        }

        .description{

          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          color: $cinza;
          font-size: $fs_14;
          line-height: 22px;
        }

        .linkArtigo{

          padding-top: 22px;
          font-style: normal;
          font-weight: 500;
          font-size: $fs_11;
          line-height: 14px;
          color: $azul-escuro;
          font-family: 'Sen', sans-serif;



        }
      }

    }
  }
}