@import "../variaveis";

footer{

  background-color: $azul-claro;
  width: 100%;
  padding: 24px 0;
  display: flex;

  justify-content: center;

  .rodape{

    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    color: $branco;
    width: 100%;
    max-width: 1200px;

    @media  screen and (max-width: 1024px) {

      max-width: 800px;

    }



    .logo{

      align-self: flex-start;

      @media  screen and (max-width: 768px) {

        align-self: center;

      }


      .logoArea{

        border: 1px solid $branco;
        border-radius: 5px;
        color: $branco;
        padding: 5px 8px;
      }
    }

    .bar{

      width: 100%;
      background-color: white;
      height: 1px;

      @media  screen and (max-width: 768px) {

      max-width: 300px;
      }
    }

    .copy{

      align-self: flex-end;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: $fs_12;
      line-height: 16px;

      @media  screen and (max-width: 768px) {

        align-self: center;

      }


    }
  }
}